name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  FFMPEG_PATH: FFmpeg/ffmpeg

jobs:

  linux:
    name: ${{ matrix.os }}.${{ matrix.compiler.compiler }}
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - { compiler: GNU,  CC: gcc }
          - { compiler: LLVM, CC: clang}

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Configure
      run: ./configure --cc=${{ matrix.compiler.CC }} --disable-asm --enable-ffmpeg --disable-everything --enable-decoder=vvc --enable-parser=vvc --enable-demuxer=vvc --enable-protocol=file,pipe --enable-encoder=rawvideo --enable-muxer=rawvideo,md5

    - name: Build
      run: make -j

    - name: Check Asm
      run: make checkasm && ./tests/checkasm/checkasm --test=vvc_alf

    - name: Download Bitstream
      run: cd .. && git clone https://github.com/ffvvc/tests.git tests

    - name: Conformance Test
      run: cd .. && python3 tests/tools/ffmpeg.py tests/conformance/passed

    - name: Negtive Test
      run: cd .. && python3 tests/tools/ffmpeg.py tests/conformance/failed || true
